---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<Header />
	<main class="container">
		<section id="about" style="padding: 0% 5% 0%">
			<h1>About</h1>
            <p>
                Hi, I'm a digital marketer and self-taught programmer from California. I'm currently working as a marketing automation 
                specialist in the medical devices industry. My work is centered around lead generation and automation - turning visitors
                into customers through personalized advertising. 
            </p>
            <p>
                My interest in programming came about in 2022. I started learning to program using Python, using libraries like pandas
                and NumPy for data analysis. More recently I've been learning Go and Javascript for web development.
            </p>
            <p>
                I'm available for work as a digital marketing and automation specialist - if you'd like to work together, you can find out 
                more <a href="/contact"><strong>here.</strong></a>
            </p>
            <p>
                Outside of work, I enjoy running and I am an avid mountain biker. In my free time, I can usually be found exploring the bike trails
                near my home on the Central Coast of California.
            </p>
            <h3>What I can help you with</h3>
            <ul>
                <li>
                <strong>Lead generation</strong> - I'll help you develop and implement proven strategies to drive traffic and generate leads.
                </li>
                <li>
                <strong>Sales funnel optimization</strong> - If you aren't seeing the sales you want, despite receiving plenty of website visitors, 
                you likely have a funnel problem. I'll identify where you are losing leads, and implement tactics to improve conversion rates.
                </li>
                <li>
                <strong>Marketing automation</strong> - I can set up your automation workflows in any of the most common automation tools - including
                Hubspot and Pardot.
                </li>
		</section>
	</main>
	<Footer />
</Layout>