---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("posts");
---
<Layout >
    <Header />
    <main class="container">
		<section id="introduction" style="padding: 0% 5% 0%">
			<h1>All Blog Posts</h1>
    </section>
    <section id="blog-posts" style="padding: 0% 5% 0%">
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
          ))
        }
      </ul>
    </section>
</Layout>