---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>
    <Header />
    <main class="container">
		<section id="introduction" style="padding: 0% 5% 0%">
			<h1>Work With Me</h1>
    </section>
</Layout>
