---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
    <Header />
    <main class="container">
		<section id="introduction" style="padding: 0% 5% 0%">
			<h1>Work with me</h1>
      <p>
        I'm open for work on a contract basis to assist you with your lead generation and digtial marketing efforts.
      </p>
      <p>
        I have experience in a number of different automation and lead generation tools, as well as creating effective and trackable 
        marketing campaigns. Although I come from a marketing background, I'm comfortable communicating with with your development and
        IT teams to ensure a successful project. Whether you are launching a new product, or looking to fine-tune your funnel - 
        I'm here to help solve your marketing headaches.
      </p>
      <h3>Get in touch here</h3>
      <article>
      <form name="contact" method="POST" data-netlify="true">
        <fieldset>
          <label>
            Your name: <input type="text" name="name" placeholder="Name" autocomplete="given-name"/>
          </label>
          <label>
            Email: <input type="text" name="email" placeholder="Email" autocomplete="email" />
          </label>
          <label>
            Message: <textarea name="message"></textarea>
          </label>
        </fieldset>
        <input type="submit" value="Send">
      </form>
      </article>
    </section>
    <Footer />
</Layout>
