---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
    <Header />
    <main class="container">
		<section id="introduction" style="padding: 0% 5% 0%">
			<h1>Work with me</h1>
      <p>
        I'm open for work on a contract basis to assist you with your lead generation and digtial marketing efforts.
      </p>
      <p>
        I have experience in a number of different automation and lead generation tools, as well as creating effective and trackable 
        marketing campaigns. Although I come from a marketing background, I'm comfortable communicating with with your development and
        IT teams to ensure a successful project. Whether you are launching a new product, or looking to fine-tune your funnel - 
        I'm here to help you drive more sales.
      </p>
      <h3>What I can help you with</h3>
      <ul>
        <li>
          <strong>Lead generation</strong> - I'll help you develop and implement proven strategies to drive traffic and generate leads.
        </li>
        <li>
          <strong>Sales funnel optimization</strong> - If you aren't seeing the sales you want, despite receiving plenty of website visitors, 
          you likely have a funnel problem. I'll identify where you are losing leads, and implement tactics to improve conversion rates.
        </li>
        <li>
          <strong>Marketing automation</strong> - I
        </li>
      </ul>
      <h3>Get in contact in with me</h3>
      <p>
        If you are interested in learning more you can email me at <a href="mailto:sharpbp@live.com">sharpbp@live.com</a>.
      </p>
      <p>
        From there we'll schedule a call to go over your needs and discuss what you are looking to accomplish. If we both feel confident that I would 
        be a good fit for your project then we can move on from there!
      </p>
    </section>
    <Footer />
</Layout>
