---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
	<Header />
	<main class="container">
		<section id="introduction" style="padding: 0% 5% 0%">
			<h1>Hey, I'm Brance</h1>
			<p>
				I'm a digital marketer living on the Central Coast of California.
			</p>
			<p>
				I'm also a self-taught programmer with experience in Python and Go, and I enjoy building new
				projects in my free time. 
			</p>
			<p>
				My main focus is helping companies solve their lead generation and automation headaches. If you're 
				interested in working together, you can find out more <a href="/contact"><b>here</b></a>.
			</p>
			<p>
				I've worked in marketing and sales for some time now, but my introduction into digital
				marketing and automation started in late 2022. Since that time I've had the chance to
				on a number of projects aimed at generating leads and driving revenue. I'm happy to have
				had the chance to work with some amazing people on some great marketing campaigns, mostly
				within the medical devices industry.
			</p>
			<p>
				My current-side project is developing an interactive web application using Go. I'll be releasing
				more information soon!
			</p>
		</section>
	</main>
	<Footer />
</Layout>