---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Brance Sharp portfolio" />
        <meta name="viewport" content="width-device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"/>
        <title>Brance</title>
    </head>
    <body>
        <slot />
    </body>
</html>